.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 7rem;
    align-items: center;
    background: transparent;
    transition: background-color 0.3s ease;
    z-index: 100;
  }
  .pageButton {
    margin: 0 0.1rem;
    color: white;
    background: none;
    border: 1px solid white;
    padding: 1.5rem ;
    height: 100%;
    width: 9rem;
    cursor: pointer;
  }
  
  .header button.activeButton{
      padding: 1.5rem ;
      margin: 0 0.1rem;
      width: 9rem;
      height: 100%;
      background-color: black;
      border-radius: 12px;
      border: transparent;
      
  }
  .leftButtonContainer
  {
    display: flex;
  }
 

  
  @media (max-width: 768px) {
    .header {
      background-color: rgba(49, 67, 74, 0.596);
      height: 5.5rem;
      font-size: 18px;
    }
    .Logo
    {
      margin:0%;
      padding: 0%;
      height: 100%;
      width: auto;
      
    }
    .leftButton
    {
      margin:3%;
      padding: 3%;
      padding-inline: 5%;
      font-size: 18px;
      border: 2px black solid;
      border-radius: 18px;
    }
 
  }
  
  @media (min-width: 769px) 
  {
    .header {
      font-size: 20px; 
      background-color: rgba(199, 24, 129, 0.418);
    }
    .Logo
    {
      margin-left: 4rem;
      height: 100%;
      width: auto;
    }

    .header ul 
    {
      display: flex;
      height: 100%;
      margin-left:4.9%
    }
    .leftButtonContainer
    {
      position: relative;
    }

    .leftButton
    {
      margin: 2rem;
      padding-inline: 1rem;
      border: 2px black solid;
    }
 
 
  }
  




  