
.slide1 {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  background-color: rgb(208, 89, 89);

}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensure the background image is behind the content */
  display: block;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the gif fills the entire area */
}

.slide2 {

  background-color: blue;
}

.slide3 {
  background-color: green;
}

.slide4 {
  background-color: yellow;
}